@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Quattrocento+Sans:wght@700&display=swap');
// ********************** mobile ***********************************

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.row {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  flex-wrap: wrap;
}

[class*="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  background-color: #1d2126;
  position: sticky;
  z-index: 100;
  top: 0;
}

.logo {
  text-align: center;
  padding-top: 10px;
}

.menu {
  text-align: center;
  display: flex;
  overflow-x: scroll;
  li {
    padding: 8px;
    margin: 5px;
    font-size: 14px;
    }
    a { 
      text-decoration: none;
      color: #a4aead;
      padding: 5px;
      border: 2px solid transparent;
      &:hover {
        border-color: #a4aead;
        border-radius: 8%;
    }
  }
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #8d8f92;
  
  }
.main {
    font-family: 'Quattrocento Sans', sans-serif;
    [class*=btn-] {
        height: 40px;
        width: 120px;
        color: #ffffff;
        border: 2px solid #ffffff;
        border-radius: 8%;
        background-color: transparent;
      }
      [class*=btn-]:hover {
        cursor: pointer;
        background-color: #23b7a3;
        border: none;
      }
      .btn-slider {
        margin-right: 10px;
        margin-top: 40px;
      }
      .title-white {
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 30px;
        color: #ffffff;
      }
    
      .title-dark {
        text-align: center;
        margin-top: 80px;
        margin-bottom: 60px;
        font-size: 36px;
        font-weight: bold;
        color: #292f36;
      }
    .section-slider {
    display: flex;
    align-items: center;
    text-align: center;
    background-image: url(images/background1.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 660px;
    color: #ffffff;
    
    }
    .section-about {
    text-align: center;
    height: fit-content;
    .left-menu-about {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding-bottom: 100px;
        span {
            font-weight: bold;
        }
    }
    .right-menu-about {
        display: flex;
        margin-bottom: 30px;
        }
        h2 {
            font-size: 18px;
            font-weight: bold;
            color: #292f36;
            line-height: 1.5;
        }
        .square {
            width: 50px;
            height: 50px;
            background-color: #23b7a3;
            text-align: center;
            line-height: 50px;
            font-size: 20px;
            color: white;

        }
        .social-networks {
            text-align: center;
            display: flex;
            justify-content: center;
            gap: 2px;
            .square-left {
                width: 60px;
                height: 60px;
                background-color: #c7cdd0;
                line-height: 100px;
                &:hover {
                    background-color: #e5eaed ;
                }
    
            }
        }
    }
    .section-team {
        padding-bottom: 100px;
        .photos-block {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 10px;
            margin-right: 20px;
            text-align: center;
            .photo {
                :hover .photo-text   {
                    background-color: #39454d;
                    h3,p {
                        color: white;
                    }
                }
                :hover .social-networks {
                    display: flex;
                }
                position: relative;
                height: 385px;
                .social-networks {
                    display: none;
                    gap: 1px;
                    position: absolute;
                    top: 30%;
                    left: 55px;
                    [class*="icon"] {
                        width: 50px;
                        height: 50px;
                        background-color: #39454d;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                    .icon-tw {
                        background-image: url(images/icon-tw.png);
                    }
                    .icon-f {
                        background-image: url(images/icon-f.png);
                    }
                    .icon-in {
                        background-image: url(images/icon-in\ \(1\).png);
                    }
                }
                .photo-text {
                    position: absolute;
                    top: 300px;
                    background-color: #e1e5e9;
                    width: 263px;
                    padding: 20px;
                    p {
                        font-size: 14px;
                        font-weight: 300;
                    }
                }
                a {
                    text-decoration: none;
                    font-weight: bold;
                }
                h3 {
                   font-weight: bold;
                   color: #39454d;
                   line-height: 2;
                }
            }
        }
    }
    
    .section-work {
        text-align: center;
        background-color: #39454d;
        padding-top: 85px;
        padding-bottom: 60px;
        .work-flex {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;
            .work-photo {
                position: relative;
                &:hover .photo-text-work {
                    display: block;
                }
                .photo-text-work {
                    display: none;
                    position: absolute;
                    bottom: 0px;
                    background-color: #292f35;
                    height: 60px;
                    width: 100%;
                    padding-top: 8px;
                    color: white;
                    
                }
            }
            
        }
        .btn-work {
           margin: 0 auto;
           margin-top: 60px;
           left: 50%;
           
        }
    }

    .section-services {
        padding-bottom: 160px;
        .services-flex {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            .services-flex-child {
                padding-top: 20px;
                width: 70%;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                gap: 30px;
            }
        }

    }
    .section-features {
        text-align: center;
        background-color: #39454d;
        padding-top: 90px;
        padding-bottom: 120px;
        .features-flex {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            .features-flex-child {
                width: 360px;
                padding-top: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                gap: 20px;
                color: white;
            }
        }
    }   
    }
    
.col-xs-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
    }

.col-xs-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

// ********************** tablet => sm 768px ************************

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .main {
    .photo-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .section-services {
        .services-flex {
            .services-flex-child {
                width: 33.33333%; 
            }
        }
    }
    .section-features {
        .features-flex {
            .features-flex-child {
                width:46%;
            }
        }
    }
  }

  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
// ********************** laptop => md ******************************

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .logo {
    text-align: start;
  }

  .header {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .menu {
    overflow-x: auto;
  }
  .header-form-search {
    position: relative;
    ::placeholder {
      font-size: 14px;
      color: #a4aead;
    }
    input {
      background-color: transparent;
      border: none;
      color: #a4aead;
      font-size: 14px;
      border: 2px solid #3c4147;
      border-radius: 8px;
      padding: 7px 27px 7px 7px;
      width: 100%;
      margin-top: 2px;
    }
    .search-btn {
      height: 20px;
      width: 20px;
      background-image: url(images/search.png);
      background-repeat: no-repeat;
      background-position: center;
      background-color: transparent;
      border: none;
      position: absolute;
      top: 11px;
      right: 7px;
    }
  }
  .main {
    .section-slider {
      text-align: start;
    }
    .section-work {
        text-align: start;
      }
    .section-about {
        text-align: start;
        .social-networks {
            justify-content: flex-start;
        }
      }
      
    .title-dark {
      text-align: start;}  
      .title-white {
        text-align: start;}  
        
  }
}
// ********************** desktop => lg *****************************

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .main {
    .photo-flex-1 {
            display: flex;
        }
        .section-services {
            .services-flex {
                .services-flex-child {
                     width: 25%; 
                }
            }
        } 
        .section-features {
            .features-flex {
                .features-flex-child {
                    width:30%;
                }
            }
        }         
  }
}
// ********************** only mobile <767px*************************

@media (max-width: 992px) {
  .hidden-xs {
    display: none;
  }
}
