@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.row {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  flex-wrap: wrap;
}

[class*=col-] {
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  background-color: #1d2126;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.logo {
  text-align: center;
  padding-top: 10px;
}

.menu {
  text-align: center;
  display: flex;
  justify-content: baseline;
  overflow-x: scroll;
}
.menu li {
  padding: 8px;
  margin: 5px;
  font-size: 14px;
}
.menu li :hover {
  border: 2px solid #a4aead;
  border-radius: 8%;
}
.menu li a {
  text-decoration: none;
  color: #a4aead;
  padding: 5px;
}

.main .slider {
  display: flex;
  align-items: center;
  text-align: center;
  background-image: url(images/background1.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 660px;
  color: #ffffff;
}
.main .slider h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
}
.main .slider p {
  margin-bottom: 40px;
}
.main .slider .btn {
  height: 40px;
  width: 120px;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 8%;
  background-color: transparent;
  margin-right: 10px;
}
.main .slider .btn:hover {
  cursor: pointer;
  background-color: #23b7a3;
  border: none;
}

.col-xs-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .logo {
    text-align: start;
  }
  .header {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .menu {
    overflow-x: auto;
  }
  .header-form-search {
    position: relative;
  }
  .header-form-search ::-moz-placeholder {
    font-size: 14px;
    color: #a4aead;
  }
  .header-form-search :-ms-input-placeholder {
    font-size: 14px;
    color: #a4aead;
  }
  .header-form-search ::placeholder {
    font-size: 14px;
    color: #a4aead;
  }
  .header-form-search input {
    background-color: transparent;
    border: none;
    color: #a4aead;
    font-size: 14px;
    border: 2px solid #3c4147;
    border-radius: 8px;
    padding: 7px 27px 7px 7px;
    width: 100%;
    margin-top: 2px;
  }
  .header-form-search .btn-search {
    height: 20px;
    width: 20px;
    background-image: url(images/search.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 11px;
    right: 7px;
  }
  .main .slider {
    text-align: start;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
@media (max-width: 992px) {
  .hidden-xs {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */